NODE_ENV=development

SERVER_PORT=8000
SERVER_DOMAIN=''
SERVER_URL='http://localhost:8000'

DB_HOST=localhost
DB_PORT=5432
DB_DATABSE=postgres
DB_USER=admin
DB_PASSWORD=admin

# STMP
APPLICATION_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

GOOGLE_RECAPTCHA_SECRET=